.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .profile-avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .profile-avatar img {
    width: 100px;
    height: 100px;
  }
  
  .profile-details {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .profile-item span {
    font-weight: bold;
  }
  
  
  .profile-logout:hover {
    color: #0056b3;
  }
  
  .logout-text {
    margin-left: 5px;
  }
