<div class="profile-container">
  <div class="profile-avatar">
    <img src="avatar.png" alt="Avatar">
  </div>
  <div class="profile-details">
    <h2>Profilo Utente</h2>
    <div class="profile-item">
      <span>Username:</span>
      <span class="profile-data">{{ currentUser.username }}</span>
    </div>
    <div class="profile-item">
      <span>E-Mail:</span>
      <span class="profile-data">{{ currentUser.email }}</span>
    </div>
  </div>
  <div class="profile-logout">
    <tnv-logout></tnv-logout>
    <span class="logout-text">Logout</span>
  </div>
</div>
