<div *ngIf="!isSubmitPressed">
  <div>
    <h4>Ordina Per {{sortedCriteria}}</h4>
  </div>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let movie of movies" cdkDrag>
      {{movie.title}}
      <img *cdkDragPreview [src]="'https://image.tmdb.org/t/p/w220_and_h330_face/'+movie.poster_path" [alt]="movie.title">
    </div>


    <button mat-raised-button (click)="checkMoviesByUser()">submit</button>
</div>
</div>

<div *ngIf="isSubmitPressed"><tnv-game-results></tnv-game-results> </div>