@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.header {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  margin: 0 auto;
  padding: 20px;
}


.header-container {
  text-align: center;
  background-image: url('/assets/images/orange-cinema-seats2.png');
  background-position: 50% 75%;
  background-size: cover;
  margin-top:20px;
  margin-left: -1%;
  margin-bottom: 20px;
  position:relative;
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -137px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 300px; 
  padding-top: 100px;
  font-size: 25px;
}

h4 {
  margin-top: 10px; 
  font-size: 30px;
  color: black;
}


.main-header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: "Special Elite";
  color: lightgrey;
  font-size: 25px;
  font-weight: bold;
}

.example-list {
  min-height: 200px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-self: center;
  gap: 5px;
  padding: 20px;
  margin-bottom: 40px;
  background-image: url('/assets/images/orange-background.png');
  background-size: cover; 
  background-repeat: cover;
  background-position: center center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.512);
  margin-top:20px;
  top:40px;
}

.example-box {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  width: 250px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 15px; 
  background-color: rgba(0, 0, 0, 0.749);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  cursor: grab;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  font-size: 15px; 
  font-family: "Special Elite";
  color: #fbfbfb; 
}


.example-box:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05); 
  background-color: rgb(0, 0, 0);
}


.example-box .cdk-drag-preview {
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}

.cdk-drag-animating {
  transition: transform 0.3s;
  z-index: 1;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.submit-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,
  border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 5px;
  background: #f7b733; 
  background: -webkit-linear-gradient(to right, #f7b733, #ff8c00, #f7b733); 
  background: linear-gradient(to right, #f7b733, #ff8c00, #f7b733);
  color: #fff;
  border: 1.5px solid #eee;
  cursor: pointer;
}

.submit-button:hover {
  transform: scale(1.12);
  transition: transform 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}